@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow: hidden;
  }
  body > div:first-of-type {
    overflow: auto;
    max-height: 100vh;
    height: 100%;
    position: relative !important;
    overscroll-behavior: contain;
    scroll-behavior: smooth;
  }
}

@layer components {
  .dark {
    color-scheme: dark;
  }
}
